{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    /* custom styles to center the login form */
    .login-container {
        display: flex;
        align-items: center; /* vertical centering */
        justify-content: center; /* horizontal centering */
        height: calc(100vh - 2rem); /* viewport height minus a margin */
        margin: 1rem; /* add a margin on all sides */
        
    }
</style>

<div class="login-container">
    <div class="col-md-5">
        <div class="card">
            <div class="card-header bg-primary text-white">
                Login
            </div>
            <div class="card-body">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>

{%endblock%}
