{% extends 'base.html' %}
{%load static%}
{% block content %}
   
<style>
    .product-card {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    .product-card .card-body {
      flex: 1;
    }
    .card-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  </style>
    <div class="container mt-5">
        <h3 class="text-center">Products</h3>
        <h2 class="text-center">Search Results for "{{ request.GET.q }}"</h2>
        <div class="row g-3">
            {% for product in products %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-2">
                <div class="card product-card">
                    {%if product.image%}
                <img src="{{ product.image.url }}" class="card-img-top product-image" alt="{{ product.name }}" style="width: 100%; height: 200px; object-fit: contain;">
                {%else%}
                <img src="{% static 'images/default_product_image.jpg' %}" class="card-img-top product-image" alt="{{ product.name }}" style="width: 100%; height: 200px; object-fit: contain;">
                {%endif%}
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p><strong>Price:</strong> {{ product.product_price }}</p>
                        <p><strong>Category:</strong> {{ product.get_category_display }}</p>
                        <a href="{% url 'product_detail' pk=product.pk %}" class="btn btn-primary m-2">More</a>
                        {% if product.product_link %}
                        <a href="{{ product.product_link }}" class="btn btn-primary">Buy</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="text-center text-light">
                <p>No products found matching the search criteria.</p>
            </div>
            
            {% endfor %}
        </div>
    </div>
    
    

{% endblock %}

